body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

textarea {   
    /* This disables user to resize this area */
    resize: none; 
    color: black;
    border-left: 1px solid black;
    padding: .5rem;
  }
.jumbotron {
    text-align: center;
    background-color:  lightskyblue;
    color: black;
    border-bottom: 1rem solid black;
    padding: 1rem;
  }
footer {
    margin-top: 2rem;
  }

.past {
    background-color: gray;
    color: white;
  } 

.present {
    background-color: hotpink;
    color: white;
  }

.future {
    background-color: teal;
    color: white;
  }

#dateOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

#labelDate {
    margin: 1rem;
  }

#enableDate {
    margin: 0.25rem;
  }

#dateGroup {
    display: none;
    margin: 1rem;
  }

.description{
    white-space: pre-wrap;
  }
  
.time-block{
    text-align: right;
  }
  
.hour {
    background-color: white;
    color: black;
    padding: 1rem;
    border-top: 1px dashed black;
  }

.row {
    white-space: pre-wrap;
    height: 4.5rem;
    border: 1px solid white;
  }
  
.saveBtn {
    background-color: lightskyblue;
    color: white;
    font-size: 1.5rem;
    border-top-right-radius: 40px;
    border: 1px solid white; 
    display: flex;
    align-items: center;
    justify-content: center; 
  }

.saveBtn i:hover,
.saveBtn.active i {
    font-size: 2.5rem;
    color: blue;
  }

#updating {
    background-color: red;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    padding: .5rem;
    margin: 1rem;
  }

.active {
    opacity: 0.7;
  }

  @media screen and (max-width: 992px) {
    .hour {
      padding: 1rem;
    }

    .saveBtn i:hover,
    .saveBtn.active i {
      font-size: 1.5rem;
      color: white;
      opacity: 1.0;
    }
  }

  @media screen and (max-width: 600px) {
    .display-3 {
      font-size: 2rem
    }
    .container {
      width: 95%;
    }
    .jumbotron {
      border-bottom: .25rem solid black;
      padding: .25rem;
    }
    .row {
      height: 100%;
    }
    .hour,
    .description,
    .saveBtn {
      width: 100%;
      border-radius: 0;
    }
    .hour {
      text-align: center;
      height: 2.5rem;
    }
    .description {
      white-space: normal;
      height: 5rem;
    }
    .saveBtn {
      text-align: center;
      font-size: 1rem;
      height: 2rem;
      margin-bottom: 1rem;
    }
    .saveBtn i:hover,
    .saveBtn.active i {
      font-size: 1rem;
      color: white;
      opacity: 1.0;
    }
  }

